<div class="row" style="margin-right: 0px;">
  <div *ngFor="let product of products" class="col-3 mt-3">
    <div class="card">
      <img
        class="card-img"
        height="200"
        width="200"
        [src]="product.image"
        alt="product"
      />
      <div class="card-body">
        <h5 class="card-title">{{product.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Category: {{product.category}}</h6>
        <p class="card-text">{{ product.description | slice : 0 : 80 }}</p>
        <div class="buy d-flex justify-content-between align-items-center">
          <div class="price text-success">
            <h5 class="mt-4">${{ product.price }}</h5>
          </div>
          <div>
            <button class="btn btn-danger mt-3" type="button">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
