<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active"  routerLink="/home" >Home </a>
      <a class="nav-item nav-link" routerLink="/products" >Products <span class="sr-only">(Intregate Resolver)</span></a>
      <a class="nav-item nav-link" routerLink="/about" >About</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>